html, body, #slide{
    height: 100%;
    overflow-x: hidden;
}

body{
    
}


body{
    background-image: linear-gradient(#FFF956, #3A3800);
    background-repeat: repeat-x;
    background-repeat: repeat-y no-repeat;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 767.98px) { 
    body{
        margin-top: 130px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    body{
        margin-top: 80px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    body{
        margin-top: 90px;
    }
}

@media (min-width: 1200px) { 
    body{
        margin-top: 110px;
    }
}