html, body, #slide{
  
}

body{
    margin-top: 130px;
}


body{
    background-image: linear-gradient(#FFF956, #3A3800);
    background-repeat: repeat-x;
    background-repeat: repeat-y no-repeat;
}

