.servico{
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 50px;
    width: 1440px;
}

.container__servico{
   height: 408px;
    
}

.servico__imagem{
   margin-top: 20px;
   border-radius: 10px;
   border: 2px solid black;
}

.servico__botao{
    background-color: red;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    margin-top: 50px;
    text-transform: uppercase;
    width: 377px;
}

.servico__botao:hover{
    background: white;
    color: black;
}

.servico_margin_conteudo{
   text-align: center;
}

.servico__lista{
    width: 1440px;
    margin-top: 50px;
}


