.servico{
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 50px;
    width: 1440px;

}

.container__servico{
   height: 408px;   
}

.servico__imagem{
   margin-top: 20px;
   border-radius: 10px;
   border: 2px solid black;
}

.servico__botao{
    background-color: red;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    margin-top: 50px;
    text-transform: uppercase;
    width: 377px;
}

.servico__botao:hover{
    background: white;
    color: black;
}

.servico_texto{
    display: inline-block;
    width: 48%;
}

.servico_margin_conteudo{
    margin-top: 0px;
    display: inline-block;
    width: 48%;
}

.servico_margin_conteudo{
   text-align: center;
}

.servico__lista{
    width: 1440px;
    margin-top: 50px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 767.98px) { 
    .servico{
        margin-top: 10px;
        width: 300px;
    }

    .servico_margin_conteudo{
        width: 100%;
     }

     .servico__imagem{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 2px solid black;
        height: 250px;
        width: 100%
     }

     .servico_texto{
        width: 100%;
    }

    .container__servico{
        display: none;   
     }

    .servico__botao{
        display: block;
        font-size: 15px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .servico{
        margin-top: 10px;
        width: 740px;
    }

    .servico_texto{
        width: 100%;
    }

    .servico__imagem{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 2px solid black;
        height: 350px;
        width: calc(100% - 50px);
     }

    .servico_margin_conteudo{
        width: 100%;
     }

     .servico__botao{
        display: block;
        font-size: 25px;
        height: 50px;
        margin-top: 10px;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 25px;
        width: 25px;
        outline: black;
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 1px solid black;
    }
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .servico{
        margin-top: 10px;
        width: 992px;
    }
}

@media (min-width: 1200px) { 
 
}
