.slide__bg{
        background-image: url(../../../imagens/mecanico.png); 
        width: auto;
        height: auto;  
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 767.98px) { 
    .slide__bg{
        background-image: none;   
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .slide__bg{
        background-image: url(../../../imagens/mecanico768.png); 
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1400px) { 
  
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
   
}



 

