.slide__botao{
    color: black;
    background: #FFF94B;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 300px;
    text-transform: uppercase;
    width: 350px;
}

.slide__botao:hover{
    color: white;
    background: black;
}
