.carousel-inner{
    height: 1200px;
    width: 100%;
    
}

#slide{
    background-image: url("../../../imagens/mecanico.png");
    background-repeat: no-repeat;
    
}

.container{
    margin-top: 500px;
}



