.slide__titulo{
    color: red;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: start; 
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 767.98px) { 
    .slide__titulo{
        
        
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .slide__titulo{
        
        
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .slide__titulo{
        font-size: 18px;
    }
}