.agendamento{
    border: 2px solid black;
    background: #FFF999;;
}

.confirmar__agendamento{
    background-image: url(../../imagens/imagens-Compactadas/check.jpg);
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.excluir__agendamento{
    background: url(../../imagens/imagens-Compactadas/delete.jpg);
    border-radius: 50px;
    height: 50px;
    width: 50px;
}