.servico__conteudo{
    font-size: 24px;
    margin: 20px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 767.98px) { 
    .servico__conteudo{
        font-size: 14px;
        margin: 5px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .servico__conteudo{
        font-size: 20px;
        margin: 5px;
    }
}

