.formulario{
    color: white;
    background-image: linear-gradient(#FF1F00, #1B1B1B);
    justify-content: space-between;
}

.formulario__conteudo{
    width: 48%;
    display: inline-block;
    
}

.formulario__imagens{
    width: 48%;
    display: inline-block;
    
}

.imagem_formulario{
   display: block;
   height: 600px;
   margin-left: calc(100% - 600px);
   width: 600px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 767.98px) { 
    .formulario__imagens{
        display: none;
        
    }

    .formulario__conteudo{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .formulario__imagens{
        display: none;
    }

    .formulario__conteudo{
        width: 100%;
        display: inline-block; 
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .formulario__imagens{
        display: none;
    }

    .formulario__conteudo{
        width: 100%;
        display: inline-block; 
    }
}



