.botao__sobre{
    margin-top: 25px;
    margin-bottom: 50px;
    width: 300px;
    height: 60px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 15px;
    margin-left: auto;
    margin-left: auto;
}
.conteudo-sobre-nos{
    padding-top: 50px;
    padding-bottom: 50px; 
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-around;
}

.sobre{

    background: white;
}

.slide__paragrafo{
    font-size: 25px;
}

.sobre__imagens{
    border: 5px solid black;
    width: 100%;
    max-width:1440px;
    margin-left: auto;
    margin-right: auto;
   
}

.carousel-control-next{
    margin-right: 15%;

}
.carousel-control-prev{
    margin-left: 15%;

}

.carousel-control-prev-icon{
    width: 50px;
    height: 50%;
}

.carousel-control-next-icon{
    width: 50px;
    height: 50%;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 767.98px) { 
    .conteudo-sobre-nos{
        width: 95%;
    }
    .slide__paragrafo{
        font-size: 15px;
    }
    .botao__sobre{
        margin-top: 15px;
        margin-bottom: 20px;
        width: 250px;
        height: 50px;
        font-size: 20px;  
    }
    
    .carousel-control-prev-icon{
        width: 25px;
        height: 25%;
    }
    
    .carousel-control-next-icon{
        width: 25px;
        height: 25%;
    }

    .sobre__imagens{
        border: 5px solid black;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
       
    }
}
